.container {
  padding: 10px;
  color: var(--xy-node-color-default);
}

.sizeInput {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.sizeInput label {
  display: flex;
  flex-direction: column;
  color: var(--xy-node-color-default);
}

.sizeInput input {
  background-color: #2d2d2d;
  color: var(--xy-node-color-default);
  border: var(--xy-node-border-default);
  padding: 5px;
  border-radius: 4px;
}

.presets {
  display: flex;
  gap: 10px;
}
