.node {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 140px;
  height: 140px;
  border: var(--xy-node-border-default);
  background-color: var(--xy-node-background-color-default);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
  transition: all 0.2s ease;
}

.container:hover {
  border-color: var(--accent);
}


.container:focus {
  border-color: var(--accent);
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
  border: var(--xy-node-color-default);
  margin-bottom: var(--margin);
  transition: all 0.2s ease;
}

.label {
  border: var(--xy-node-color-default);
  font-size: var(--label-size);
  font-weight: var(--label-weight);
  text-align: center;
  max-width: 115px;
  overflow-wrap: break-word;
  transition: all 0.2s ease;
}

.handle {
  width: var(--handle-size);
  height: var(--handle-size);
  background: var(--xy-handle-background-color-default);
  border: 2px solid var(--xy-handle-border-color-default);;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.handle.visible {
  opacity: 1;
}
