.app {
  display: flex;
  height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.codeEditor {
  width: 30%;
  height: 100vh;
  overflow: auto;
  background-color: var(--background);
}

.canvasArea {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: var(--background);
}

.canvasWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
